<!DOCTYPE html>
<html>
  <body>
    <form method="POST" action="/login">
    <label for="name">User name</label>
    <input type="text" id="user" name="user">
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br>
    <button type="submit">Login</button>
    <button type = "submit" formmethod="GET" formaction = "/createaccount">Create Account</button><br>
    <button type = "submit" formaction = "/createDb">Create Database</button>
    </form>


  </body>
</html>